<div class="container"  style="margin-top:  100px; ">

  <div class="row">
    <div class="col">
      <p class="text-end">
        <span>hola {{usuario}} </span>
        <a href="/admin/login/logout" class="btn btn-danger">cerrar sesion
          <i class="fafsa-sign-out-alt"></i></a>
      </p>

    </div>
  </div>
</div>